<h2>Adicionar nova Postagem</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Cadastrar Postagem</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>{{descricao}}</p>
            <small>{{data}}</small><br>
            <small>{{categoria.nome}}</small><br>

            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-4">Editar</button></a>
            
            <form action="/admin/postagens/deletar" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-4" >Deletar postagem</button>
            </form>
        </div>
    </div>
{{else}}
    <p>Nenhuma potagem registrada!</p>
{{/each}}